DB_CONNECTION=postgresql://stockdata:stockdata@localhost:5432/stockdata
ALPHAVANTAGE_API=https://www.alphavantage.co
ALPHAVANTAGE_API_KEY=
SIMFIN_API=https://simfin.com/api/v2
SIMFIN_API_KEY=
BACK_POPULATE_MONTHS=12