[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
python-dotenv = "*"
pytest = "*"
setuptools = "*"
stockdata-capstone = {editable = true, path = "."}
sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
